fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
}
fieldset label {

}
main {
  display: flex;
  justify-content: center;
}
.form-container {
  width: 40%;
}
.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.col {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
